<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myNovel.dao.TypesDao">
  <resultMap id="BaseResultMap" type="com.myNovel.model.Types">
    <id column="idtypes" jdbcType="INTEGER" property="idtypes" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    idtypes, type
  </sql>
  
   <select id="selectAllTypes"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from types
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from types
    where idtypes = #{idtypes,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from types
    where idtypes = #{idtypes,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myNovel.model.Types">
    insert into types (idtypes, type)
    values (#{idtypes,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myNovel.model.Types">
    insert into types
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idtypes != null">
        idtypes,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idtypes != null">
        #{idtypes,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myNovel.model.Types">
    update types
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where idtypes = #{idtypes,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myNovel.model.Types">
    update types
    set type = #{type,jdbcType=VARCHAR}
    where idtypes = #{idtypes,jdbcType=INTEGER}
  </update>
</mapper>